<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.sportscenter.reply.ReplyMapper"> 
	<insert id="regist" parameterType="kr.project.sportscenter.reply.ReplyVO">
		INSERT INTO reply (
			replycontent, regdate, qnaid, adminno
		) VALUES (
			#{replycontent}, now(), #{qnaid}, 
			#{adminno}
		)
		<selectKey order="AFTER" keyProperty="replyid" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
</mapper>