<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.sportscenter.user.UserMapper"> 
	<insert id="join" parameterType="kr.project.sportscenter.user.UserVO">
		INSERT INTO user (
			userid, username, pwd, hp, email, addr, addr2, birth, gender
		) VALUES (
			#{userid}, #{username}, MD5(#{pwd}), #{hp}, 
			#{email}, #{addr}, #{addr2}, #{birth}, #{gender}
		)
		<selectKey order="AFTER" keyProperty="usernum" resultType="int">
			SELECT LAST_INSERT_ID() 
		</selectKey>
	</insert>
	
	<select id="login" parameterType="kr.project.sportscenter.user.UserVO" resultType="kr.project.sportscenter.user.UserVO">
		SELECT * FROM user WHERE userid=#{userid} AND pwd=MD5(#{pwd})
	</select> 
	
	<select id="useridCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE userid=#{userid}
	</select>
	
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE email=#{email}
	</select>
	
	<select id="findId" resultType="kr.project.sportscenter.user.UserVO" parameterType="kr.project.sportscenter.user.UserVO">
		SELECT * FROM user WHERE username=#{username} AND birth=#{birth} AND hp=#{hp}
	</select>
	
	<select id="findPassword" resultType="kr.project.sportscenter.user.UserVO" parameterType="kr.project.sportscenter.user.UserVO">
		SELECT * FROM user WHERE userid=#{userid} AND birth=#{birth} AND hp=#{hp}
	</select>
	
	<!-- 기존의 비밀번호 업데이트 쿼리문  -->
	<update id="updatePassword">
		UPDATE user SET pwd=MD5(#{pwd}) where userid=#{userid}
	</update>
	
	<select id="detail" resultType="kr.project.sportscenter.user.UserVO" parameterType="int">
		SELECT * FROM user WHERE usernum=#{usernum}
	</select>
	
	<!-- 개인정보 수정 -->
	<update id="update" parameterType="kr.project.sportscenter.user.UserVO">
	    UPDATE user
	    <set>
	        <if test="pwd != ''">
	            pwd = MD5(#{pwd}),
	        </if>
			pwd = MD5(#{pwd}),
	        hp = #{hp},
	        addr = #{addr},
	        addr2 = #{addr2}
	    </set>
	    WHERE usernum = #{usernum}
	</update>
	
	<select id="verifyPassword" parameterType="kr.project.sportscenter.user.UserVO" resultType="int">
		SELECT count(*) FROM user WHERE userid=#{userid} AND pwd=MD5(#{pwd}) 
	</select> 
	
</mapper> 