<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.sportscenter.user.UserMapper"> 
	<insert id="join" parameterType="kr.project.sportscenter.user.UserVO">
		INSERT INTO user (
			userid, username, pwd, hp, email, addr, addr2, birth, gender
		) VALUES (
			#{userid}, #{username}, MD5(#{pwd}), #{hp}, 
			#{email}, #{addr}, #{addr2}, #{birth}, #{gender}
		)
		<selectKey order="AFTER" keyProperty="usernum" resultType="int">
			SELECT LAST_INSERT_ID() 
		</selectKey>
	</insert>
	
	<sql id="searchUser">
		<where>
			<choose>
				<when test = "userid != 0">
					AND userid = #{userid}
				</when>
			</choose>
			<choose>
				<when test = "usernum != 0">
					AND usernum = #{usernum}
				</when>
			</choose>
			<choose>
				<when test = "username != 0">
					AND username = #{username}
				</when>
			</choose>
			<choose>
				<when test = "birth != 0">
					AND birth = #{birth}
				</when>
			</choose>
			<choose>
				<when test = "hp != 0">
					AND hp = #{hp}
				</when>
			</choose>
		</where>
	</sql>
	
	<select id="login" parameterType="kr.project.sportscenter.user.UserVO" resultType="kr.project.sportscenter.user.UserVO">
		SELECT * FROM user WHERE userid=#{userid} AND pwd=MD5(#{pwd})
	</select> 
	
	<select id="useridCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE userid=#{userid}
	</select>
	
	<!-- 이메일 확인 -->
	<select id="emailCheck" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM user WHERE email=#{email}
	</select>
	
	<!-- 기존의 비밀번호 업데이트 쿼리문  -->
	<update id="updatePassword">
		UPDATE user SET pwd=MD5(#{pwd}) where userid=#{userid}
	</update>
	
	<select id="find" resultType="kr.project.sportscenter.user.UserVO" parameterType="kr.project.sportscenter.user.UserVO">
		SELECT * FROM user 
		<include refid="searchUser"/>
	</select>
	
	<!-- 개인정보 수정 -->
	<update id="update" parameterType="kr.project.sportscenter.user.UserVO">
	    UPDATE user
	    <set>
	        <if test="pwd != ''">
	            pwd = MD5(#{pwd}),
	        </if>
			pwd = MD5(#{pwd}),
	        hp = #{hp},
	        addr = #{addr},
	        addr2 = #{addr2}
	    </set>
	    WHERE usernum = #{usernum}
	</update>
	
	<!-- 패스워드 확인 -->
	<select id="verifyPassword" parameterType="kr.project.sportscenter.user.UserVO" resultType="int">
		SELECT count(*) FROM user WHERE userid=#{userid} AND pwd=MD5(#{pwd}) 
	</select> 
	
	
	<!-- 수강 내역 확인 -->
	<select id = "classView" parameterType="kr.project.sportscenter.user.UserVO" resultType="kr.project.sportscenter.user.UserVO">
		SELECT c.classname as classname,
		       c.classyear as classyear,			 
		       c.classmonth as classmonth,
		       c.classid as classid,
		       p.payid as payid,
		       u.usernum as usernum,
		       u.username as username,
		FROM user u
		JOIN pay p ON u.usernum = p.usernum
		JOIN class c ON p.classid = c.classid
		WHERE u.usernum = #{usernum}
		  AND p.paystate = '1'
		  AND p.cancelstate = '0'
		  AND c.classyear = year(current_date)
		  AND c.classmonth >= month(current_date)
	</select>
	
	<!-- 재수강 내역 확인 -->
	<select id = "retakeClass" parameterType="kr.project.sportscenter.user.UserVO" resultType="kr.project.sportscenter.user.UserVO">
		SELECT c.classname as classname,
		       c.classyear as classyear,
		       c.classmonth as classmonth,
		       c.classid as classid,
		       p.payid as payid
		FROM user u
		JOIN pay p ON u.usernum = p.usernum
		JOIN class c ON p.classid = c.classid
		WHERE u.usernum = #{usernum}
		  AND p.paystate = '0'
		  AND p.cancelstate = '0'
		  AND c.classyear = year(current_date)
		  AND c.classmonth > month(current_date)
	</select>
	
	
	<!-- 수강 내역 확인 -->
	<select id="classHistory" parameterType="kr.project.sportscenter.user.UserVO" resultType="kr.project.sportscenter.user.UserVO">
	    SELECT c.classname as classname,
	           c.classyear as classyear,
	           c.classmonth as classmonth,
	           c.classyear as classyear,
	           c.classid as classid
	           CASE
	            WHEN p.refundstate = '1' then '환불'
	            WHEN p.refundstate = '0' and month(current_date) > c.classmonth  then '수강 완료' 
	            WHEN p.refundstate = '0' and c.classmonth > month(current_date)  then '수강 예정'  
	            WHEN p.refundstate = '0' and c.classmonth > month(current_date)  then '수강 중'	            
	            END as classstatus
	    FROM user u
	    JOIN pay p ON u.usernum = p.usernum
	    JOIN class c ON p.classid = c.classid
	    WHERE u.usernum = #{usernum}
	        AND p.paystate = '1'
	    <if test="searchWord != null and searchWord != ''">
	    	AND c.classname LIKE '%${searchWord}%'
	    </if>    
	    <if test="searchMonth != '' and searchMonth != null">
	        <if test="searchMonth == '3'">
	        	AND c.classyear * 100 + c.classmonth >= year(DATE_SUB(current_date, INTERVAL 3 MONTH)) * 100 + month(DATE_SUB(current_date, INTERVAL 3 MONTH))
	        </if>
	        <if test="searchMonth == '6'">
	            AND c.classyear * 100 + c.classmonth >= year(DATE_SUB(current_date, INTERVAL 6 MONTH)) * 100 + month(DATE_SUB(current_date, INTERVAL 6 MONTH))
	        </if>
	        <if test="searchMonth == '12'">
	            AND c.classyear * 100 + c.classmonth >= year(DATE_SUB(current_date, INTERVAL 12 MONTH)) * 100 + month(DATE_SUB(current_date, INTERVAL 12 MONTH))
	        </if>
	    </if>
	    ORDER BY p.payid DESC 
	</select>
	
	<!-- 회원 검색 -->
	<sql id="searchSql">
		<where>
			<if test="searchWord != null and searchWord != ''">
				username LIKE '%${searchWord}%' OR email LIKE '%${searchWord}%'
			</if>
		</where>
	</sql>
	
	<select id="findUser" parameterType="kr.project.sportscenter.user.UserVO" resultType="kr.project.sportscenter.user.UserVO">
		SELECT * FROM user
		<include refid="searchSql"/>
		ORDER BY userid DESC
	</select>
	
	<select id="count" parameterType="kr.project.sportscenter.notice.NoticeVO" resultType="int">
		SELECT COUNT(*) FROM user
		<include refid="searchSql"/>
	</select>
	
</mapper> 