<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.sportscenter.class1.ClassMapper"> 

	<insert id="regist" parameterType="kr.project.sportscenter.class1.ClassVO">
		INSERT INTO class (
			subtype, classyear, classmonth, classname, classlevel, classtime
			, classday, classprice, classlimit, classcnt
		) VALUES (
			#{subtype}, #{classyear}, #{classmonth}, #{classname}, #{classlevel}
			, #{classtime}, #{classday}, #{classprice}, #{classlimit}, #{classcnt}
		)
		<selectKey order="AFTER" keyProperty="classid" resultType="int">
			SELECT LAST_INSERT_ID()
		</selectKey>
	</insert>
	
	
	<sql id="searchSql">
		<where>
			<choose>
				<when test="subtype != 0">
					AND subtype = #{subtype}
				</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="classtime != 0">
					AND classtime = #{classtime}
				</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="classlevel != 0">
					AND classlevel = #{classlevel}
				</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="classyear != null and classyear != ''">
					AND classyear = #{classyear}
				</when>
				<otherwise></otherwise>
			</choose>
			<choose>
				<when test="classmonth != null and classmonth != ''">
					AND classmonth = #{classmonth}
				</when>
				<otherwise></otherwise>
			</choose>
		</where>
	</sql>
	
	
	<!-- 목록 -->
	<select id="list" parameterType="kr.project.sportscenter.class1.ClassVO" resultType="kr.project.sportscenter.class1.ClassVO">
		SELECT * 
		FROM class
		<include refid="searchSql"/>
		ORDER BY classid DESC
		LIMIT #{startIdx}, 10
	</select>
	<!-- 카운트 -->
	<select id="count" parameterType="kr.project.sportscenter.class1.ClassVO" resultType="int">
		SELECT COUNT(*) FROM class
		<include refid="searchSql"/>
	</select>
	
</mapper>