<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.project.sportscenter.pay.PayMapper"> 

	<!-- 목록 -->
	<select id="list" parameterType="kr.project.sportscenter.pay.PayVO" resultType="kr.project.sportscenter.pay.PayVO">
		SELECT * 
		FROM pay
		WHERE usernum=${usernum}
	</select>
	
	<!-- db저장하는 법 -->
	<insert id="regist" parameterType="kr.project.sportscenter.pay.PayVO"> 
		INSERT INTO pay(
			classid, usernum, paystate, price, paymethod, imp_uid
		) VALUES (
			#{classid}, #{usernum}, #{paystate}, #{price}, #{paymethod}, #{imp_uid}
		)
	</insert>
	
	<select id="exists" parameterType="kr.project.sportscenter.pay.PayVO" resultType="int">
		SELECT COUNT(*) FROM pay WHERE classid=#{classid} AND usernum={usernum}
	</select>
	
	<update id="update" parameterType="kr.project.sportscenter.pay.PayVO">
		UPDATE pay
		SET paystate=1
		WHERE classid=#{classid} AND usernum={usernum}
	</update>
	
	<select id="courseList" parameterType="kr.project.sportscenter.pay.PayVO" resultType="kr.project.sportscenter.pay.PayVO"> 
		SELECT u.username as username, 
                c.classyear as classyear, c.classmonth as classmonth, c.classlevel as classlevel, c.classtime as classtime, c.subtype as subtype, c.classday as classday,
                p.paystate as paystate , p.refundstate  as refundstate
        FROM pay p 
            JOIN user u ON p.usernum = u.usernum 
            JOIN class c ON p.classid = c.classid 
			<if test="searchWord != null and searchWord != ''">
				WHERE AND p.usernum = (SELECT usernum FROM user WHERE username LIKE '%${searchWord}%')
			</if>
		ORDER BY payid
	</select>

	<!-- 카운트 -->
	<select id="count" parameterType="kr.project.sportscenter.notice.NoticeVO" resultType="int">
		SELECT count(*)
		FROM pay
		<if test="searchWord != null and searchWord != ''">
			WHERE usernum = (SELECT usernum FROM user WHERE username LIKE '%${searchWord}%')
		</if>
	</select>
	
	<select id="select" parameterType="int" resultType="kr.project.sportscenter.pay.PayVO">
		SELECT *
		FROM pay
		WHERE classid = #{classid}
	</select>
	
	
	
	
</mapper>